<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>BimiBimi动漫接口文档(个人开发,非官方)</title>
  <link rel="icon" href="//tomoya.cn/favicon.ico">
  <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-7">
      <div class="text-center">
        <h1>BimiBimi动漫接口文档(个人开发,非官方)</h1>
        <h4><a href="https://chengzc.club" target="_blank">@Chengzc</a></h4>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>轮播图</h3>
          <h4>GET: /carousel</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/carousel" target="_blank">/bimianimate/carousel</a>
          </p>
          <hr>
		  <h3>轮播后推荐</h3>
		  <h4>GET: /sliderRecom</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
		  </p>
		  <p>
		    示例: <a href="/bimianimate/sliderRecom" target="_blank">/bimianimate/sliderRecom</a>
		  </p>
		  <hr>
          <h3>一周更新(节目单)</h3>
          <h4>GET: /weekUpdate</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/weekUpdate" target="_blank">/bimianimate/weekUpdate</a>
          </p>
          <hr>
          <h3>今日热播</h3>
          <h4>GET: /todayHot</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/todayHot" target="_blank">/bimianimate/todayHot</a>
          </p>
          <hr>
          <h3>月排行榜</h3>
          <h4>GET: /monthRank</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/monthRank" target="_blank">/bimianimate/monthRank</a>
          </p>
          <hr>
          <h3>新番发送</h3>
          <h4>GET: /newAnimate</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/newAnimate" target="_blank">/bimianimate/newAnimate</a>
          </p>
          <hr>
          <h3>国产动漫</h3>
          <h4>GET: /chinaAnimate</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/chinaAnimate" target="_blank">/bimianimate/chinaAnimate</a>
          </p>
		  
          <hr>
          <h3>番组计划</h3>
          <h4>GET: /animatePlan</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/animatePlan" target="_blank">/bimianimate/animatePlan</a>
          </p>
          <hr>
          <h3>剧场动画</h3>
          <h4>GET: /animateMovie</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/animateMovie" target="_blank">/bimianimate/animateMovie</a>
          </p>
          <hr>
          <h3>影视</h3>
          <h4>GET: /Movies</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/" target="_blank">http://www.bimibimi.tv/</a>
          </p>
          <p>
            示例: <a href="/bimianimate/Movies" target="_blank">/bimianimate/Movies</a>
          </p>
          <hr>
          <h3>新番发送（日漫时间2000-2019）</h3>
          <h4>GET: /yearAnimateList</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/vodshow/riman-----------2019" target="_blank">http://www.bimibimi.tv/vodshow/riman-----------2019</a>
          </p>
          <ul>
            <li>ver <code>String</code> 排行：time(时间),hits(人气),score(评分)</li>
			<li>letter <code>String</code>A-Z 0-9</li>
			<li>sort <code>String</code> 全部,热血,冒险,搞笑,运动,竞技,装逼,剧情,青春,后宫,校园,励志,恋爱,百合,耽美,战斗,机战,科幻,萝莉,奇幻,魔法,动画,治愈,美食,萌系,偶像,泡面,漫改,轻改,催泪,日常,少儿,少女,社团,推理,乙女,其他</li>
			<li>page <code>String</code> 页数</li>
			<li>week <code>String</code> 全部,周一,周二,周三,周四,周五,周六,周日</li>
			<li>year <code>String</code> 2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000</li>
          </ul>
          <p>
            示例: <a href="/bimianimate/yearAnimateList" target="_blank">/bimianimate/yearAnimateList</a>
          </p>
          <hr>
          <h3>国漫年度动漫列表</h3>
          <h4>GET: /guoManAnimateList</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/vodshow/guoman-----------2019/" target="_blank">http://www.bimibimi.tv/vodshow/guoman-----------2019/</a>
          </p>
		  <ul>
		    <li>ver <code>String</code> 排行：time(时间),hits(人气),score(评分)</li>
			<li>letter <code>String</code>A-Z 0-9</li>
			<li>sort <code>String</code> 全部,热血,冒险,搞笑,运动,竞技,装逼,剧情,青春,后宫,校园,励志,恋爱,百合,耽美,战斗,机战,科幻,萝莉,奇幻,魔法,动画,治愈,美食,萌系,偶像,泡面,漫改,轻改,催泪,日常,少儿,少女,社团,推理,乙女,其他</li>
			<li>page <code>String</code> 页数</li>
			<li>week <code>String</code> 全部,周一,周二,周三,周四,周五,周六,周日</li>
			<li>year <code>String</code> 2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000</li>
		  </ul>
          <p>
            示例: <a href="/bimianimate/guoManAnimateList" target="_blank">/bimianimate/guoManAnimateList</a>
          </p>
          <hr>
          <h3>番组年度动漫列表</h3>
          <h4>GET: /fanZuAnimateList</h4>
          <p>
            对于BimiBimi动漫页面:
            <a href="http://www.bimibimi.tv/vodshow/fanzu-----------2019/" target="_blank">http://www.bimibimi.tv/vodshow/fanzu-----------2019/</a>
          </p>
          <ul>
            <li>ver <code>String</code> 排行：time(时间),hits(人气),score(评分)</li>
			<li>letter <code>String</code>A-Z 0-9</li>
			<li>sort <code>String</code> 全部,热血,冒险,搞笑,运动,竞技,装逼,剧情,青春,后宫,校园,励志,恋爱,百合,耽美,战斗,机战,科幻,萝莉,奇幻,魔法,动画,治愈,美食,萌系,偶像,泡面,漫改,轻改,催泪,日常,少儿,少女,社团,推理,乙女,其他</li>
			<li>page <code>String</code> 页数</li>
			<li>week <code>String</code> 全部,周一,周二,周三,周四,周五,周六,周日</li>
			<li>year <code>String</code> 2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000</li>
          </ul>
          <p>
            示例: <a href="/bimianimate/fanZuAnimateList" target="_blank">/bimianimate/fanZuAnimateList</a>
          </p>
		  
		  <hr>
		  <h3>剧场动画年度动漫列表</h3>
		  <h4>GET: /juChangAnimateList</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/vodshow/juchang-----------2019/" target="_blank">http://www.bimibimi.tv/vodshow/juchang-----------2019/</a>
		  </p>
		  <ul>
		    <li>ver <code>String</code> 排行：time(时间),hits(人气),score(评分)</li>
			<li>letter <code>String</code>A-Z 0-9</li>
			<li>sort <code>String</code> 全部,热血,冒险,搞笑,运动,竞技,装逼,剧情,青春,后宫,校园,励志,恋爱,百合,耽美,战斗,机战,科幻,萝莉,奇幻,魔法,动画,治愈,美食,萌系,偶像,泡面,漫改,轻改,催泪,日常,少儿,少女,社团,推理,乙女,其他</li>
			<li>page <code>String</code> 页数</li>
			<li>week <code>String</code> 全部,周一,周二,周三,周四,周五,周六,周日</li>
			<li>year <code>String</code> 2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/juChangAnimateList" target="_blank">/bimianimate/juChangAnimateList</a>
		  </p>
		  <hr>
		  <h3>影视年度列表</h3>
		  <h4>GET: /moveAnimateList</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/vodshow/move-----------2019/" target="_blank">http://www.bimibimi.tv/vodshow/move-----------2019/</a>
		  </p>
		  <ul>
		    <li>ver <code>String</code> 排行：time(时间),hits(人气),score(评分)</li>
			<li>letter <code>String</code>A-Z 0-9</li>
			<li>sort <code>String</code> 全部,热血,冒险,搞笑,运动,竞技,装逼,剧情,青春,后宫,校园,励志,恋爱,百合,耽美,战斗,机战,科幻,萝莉,奇幻,魔法,动画,治愈,美食,萌系,偶像,泡面,漫改,轻改,催泪,日常,少儿,少女,社团,推理,乙女,其他</li>
			<li>page <code>String</code> 页数</li>
			<li>week <code>String</code> 全部,周一,周二,周三,周四,周五,周六,周日</li>
			<li>year <code>String</code> 2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/moveAnimateList" target="_blank">/bimianimate/moveAnimateList</a>
		  </p>
		  <hr>
		  <h3>资讯</h3>
		  <h4>GET: /zixun</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/arttype/zixun/" target="_blank">http://www.bimibimi.tv/arttype/zixun/</a>
		  </p>
		  <ul>
		  	<li>page <code>String</code> 页数</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/zixun" target="_blank">/bimianimate/zixun</a>
		  </p>
		  
		  <hr>
		  <h3>资讯详情</h3>
		  <h4>GET: /artDetail</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/artdetail-3/" target="_blank">http://www.bimibimi.tv/artdetail-3/</a>
		  </p>
		  <ul>
		  	<li>page <code>String</code> 咨询标识</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/artDetail" target="_blank">/bimianimate/artDetail</a>
		  </p>
		  <hr>
		  <h3>动漫详情</h3>
		  <h4>GET: /animateDetail</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/bangumi/bi/97/" target="_blank">http://www.bimibimi.tv/bangumi/bi/97/</a>
		  </p>
		  <ul>
		  	<li>page <code>String</code> 页数</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/animateDetail" target="_blank">/bimianimate/animateDetail</a>
		  </p>
		  <hr>
		  <h3>播放相关</h3>
		  <h4>GET: /animatePlay</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/bangumi/97/play/1/61/" target="_blank">http://www.bimibimi.tv/bangumi/97/play/1/61/</a>
		  </p>
		  <ul>
		  	<li>animateid <code>String</code> 动漫标识</li>
			<li>season <code>String</code> 播放路线 DanmuC/DanmuG</li>
			<li>playnum <code>String</code> 第几集</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/animatePlay" target="_blank">/bimianimate/animatePlay</a>
		  </p>
		  <hr>
		  <h3>最新上映</h3>
		  <h4>GET: /latestShowAnimate</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/label/new/" target="_blank">http://www.bimibimi.tv/label/new/</a>
		  </p>
		  <p>
		    示例: <a href="/bimianimate/latestShowAnimate" target="_blank">/bimianimate/latestShowAnimate</a>
		  </p>
		  <hr>
		  <h3>排行榜</h3>
		  <h4>GET: /animateRank</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/label/top/" target="_blank">http://www.bimibimi.tv/label/top/</a>
		  </p>
		  <p>
		    示例: <a href="/bimianimate/animateRank" target="_blank">/bimianimate/animateRank</a>
		  </p>
		  
		  <hr>
		  <h3>搜索</h3>
		  <h4>GET: /searchByKeyWord</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/vod/search/page/2/" target="_blank">http://www.bimibimi.tv/vod/search/page/2/</a>
		  </p>
		  <ul>
		    <li>keyword <code>String</code> 关键字</li>
		    <li>page <code>Number</code> 页数</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/searchByKeyWord?page=1&keyword=火影" target="_blank">/bimianimate/searchByKeyWord</a>
		  </p>
		  
		  <hr>
		  <h3>播放信息</h3>
		  <h4>GET: /animatePlayByPT</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="http://www.bimibimi.tv/bangumi/97/play/1/61/" target="_blank">http://www.bimibimi.tv/bangumi/97/play/1/61/</a>
		  </p>
		  <ul>
		  	<li>animateid <code>String</code> 动漫标识</li>
			<li>season <code>String</code> 播放路线 DanmuC/DanmuG</li>
			<li>playnum <code>String</code> 第几集</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/animatePlayByPT" target="_blank">/bimianimate/animatePlayByPT</a>
		  </p>
		  
		  <hr>
		  <h3>动漫播放地址</h3>
		  <h4>GET: /animateGetRealUrl</h4>
		  <p>
		    对于BimiBimi动漫页面:
		    <a href="" target="_blank">暂无</a>
		  </p>
		  <ul>
		    <li>relurl <code>String</code> 解析地址</li>
		  </ul>
		  <p>
		    示例: <a href="/bimianimate/animateGetRealUrl?relurl=http://119.23.209.33/static/danmu/bit.php?/play/MzYwXzE1NzA5NTI4MzEyNDAwMzg5" target="_blank">/bimianimate/animateGetRealUrl</a>
		  </p>
        </div>
      </div>
      <!-- <blockquote>
        本站整理的BimiBimi动漫网接口目的是为会APP开发的程序员使用,希望红旅也有APP可以使用,请勿用于其他用途,谢谢!
        <br> 如有问题,请邮件朋也 1956587218@qq.com
      </blockquote> -->
    </div>
  </div>
  <div style="display:none;">
    <script src="https://s4.cnzz.com/z_stat.php?id=1260305659&web_id=1260305659" language="JavaScript"></script>
  </div>
</body>
</html>
